---
import TeachStackHeader from "./TeachStackHeader.astro";
---
<div class="w-full sm:w-3/4 lg:fixed lg:w-1/3">
    <p class="font-semibold mt-20 text-xl lg:mt-32 lg:text-2xl lg:font-medium">Hi,</p>
    <p class="font-semibold text-xl opacity-60 lg:text-2xl">My Name is</p>
    <h1 class="font-black text-5xl lg:text-6xl">Zainur romzy</h1>
    <p class="text-base">I am a 5th semester student with great enthusiasm to develop my skills in the world of web development.</p>
    <TeachStackHeader/>
</div>