<div class="mt-4 lg:mt-10">
    <p class="text-lg opacity-60">current favorite tech stack/tools:</p>
    <div class="mt-2 flex gap-4 items-center">
      <svg class="lg:w-10 lg:h-10" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
        <g clip-path="url(#clip0_8_12)">
          <mask id="mask0_8_12" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
            <path d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="black"/>
          </mask>
          <g mask="url(#mask0_8_12)">
            <path d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="black" stroke="white" stroke-width="2.66667"/>
            <path d="M26.5792 28.0035L12.2919 9.59998H9.60001V22.3946H11.7535V12.3348L24.8887 29.3058C25.4814 28.9091 26.0461 28.4738 26.5792 28.0035Z" fill="url(#paint0_linear_8_12)"/>
            <path d="M22.5778 9.59998H20.4444V22.4H22.5778V9.59998Z" fill="url(#paint1_linear_8_12)"/>
          </g>
        </g>
        <defs>
          <linearGradient id="paint0_linear_8_12" x1="19.3778" y1="20.7111" x2="25.6889" y2="28.5333" gradientUnits="userSpaceOnUse">
            <stop stop-color="white"/>
            <stop offset="1" stop-color="white" stop-opacity="0"/>
          </linearGradient>
          <linearGradient id="paint1_linear_8_12" x1="21.5111" y1="9.59998" x2="21.4754" y2="19" gradientUnits="userSpaceOnUse">
            <stop stop-color="white"/>
            <stop offset="1" stop-color="white" stop-opacity="0"/>
          </linearGradient>
          <clipPath id="clip0_8_12">
            <rect width="32" height="32" fill="white"/>
          </clipPath>
        </defs>
      </svg>
      <svg class="lg:w-8 lg:h-8" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 32 32" fill="none">
        <g clip-path="url(#clip0_51_50)">
          <mask id="mask0_51_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
            <path d="M0 0H32V32H0V0Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_51_50)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H32V32H0V0ZM24.4627 26.8267C22.9787 26.8267 22.14 26.0533 21.496 25L19.052 26.42C19.9347 28.164 21.7387 29.4947 24.532 29.4947C27.388 29.4947 29.5147 28.012 29.5147 25.304C29.5147 22.7933 28.072 21.6773 25.5173 20.58L24.7653 20.2587C23.4747 19.6987 22.916 19.3347 22.916 18.432C22.916 17.7027 23.476 17.144 24.356 17.144C25.2187 17.144 25.7747 17.508 26.2907 18.432L28.632 16.9293C27.6413 15.1867 26.268 14.5213 24.356 14.5213C21.6707 14.5213 19.952 16.2387 19.952 18.4947C19.952 20.9413 21.392 22.1 23.5627 23.024L24.3147 23.3467C25.6867 23.9467 26.504 24.312 26.504 25.3427C26.504 26.204 25.708 26.8267 24.4627 26.8267ZM12.8093 26.8067C11.776 26.8067 11.3453 26.1 10.8733 25.26L8.42533 26.7427C9.13467 28.244 10.5293 29.4893 12.936 29.4893C15.6013 29.4893 17.4267 28.072 17.4267 24.9587V14.692H14.42V24.9187C14.42 26.4213 13.796 26.8067 12.808 26.8067H12.8093Z" fill="black"/>
          </g>
        </g>
        <defs>
          <clipPath id="clip0_51_50">
            <rect width="32" height="32" rx="4" fill="white"/>
          </clipPath>
        </defs>
      </svg>
      <svg class="lg:w-10 lg:h-10" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
        <g clip-path="url(#clip0_50_33)">
          <path d="M16.0013 6.40002C11.7347 6.40002 9.068 8.53336 8.00134 12.8C9.60134 10.6667 11.468 9.86669 13.6013 10.4C14.8187 10.704 15.688 11.5867 16.652 12.5654C18.2213 14.1574 20.036 16 24.0013 16C28.268 16 30.9347 13.8667 32.0013 9.60002C30.4013 11.7334 28.5347 12.5334 26.4013 12C25.184 11.696 24.3147 10.8134 23.3507 9.83469C21.7827 8.24269 19.968 6.40002 16.0013 6.40002ZM8.00134 16C3.73467 16 1.068 18.1334 0.00133514 22.4C1.60134 20.2667 3.468 19.4667 5.60134 20C6.81867 20.304 7.688 21.1867 8.652 22.1654C10.2213 23.7574 12.036 25.6 16.0013 25.6C20.268 25.6 22.9347 23.4667 24.0013 19.2C22.4013 21.3334 20.5347 22.1334 18.4013 21.6C17.184 21.296 16.3147 20.4134 15.3507 19.4347C13.7827 17.8427 11.968 16 8.00134 16Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0_50_33">
            <rect width="32" height="32" fill="white"/>
          </clipPath>
        </defs>
      </svg>
      <svg class="lg:w-10 lg:h-10" xmlns="http://www.w3.org/2000/svg" width="27" height="32" viewBox="0 0 27 32" fill="none">
        <path d="M26.3249 24.3794L15.32 1.00911C15.1833 0.721554 14.9713 0.476314 14.7066 0.299342C14.4419 0.122371 14.1343 0.0202498 13.8163 0.00378651C13.4977 -0.0175639 13.1793 0.048849 12.8958 0.195803C12.6124 0.342756 12.3746 0.564624 12.2084 0.837279L0.272549 20.1694C0.0910583 20.4613 -0.00345785 20.7989 8.05726e-05 21.1426C0.00361899 21.4863 0.105065 21.8219 0.292527 22.11L6.12801 31.1468C6.34878 31.4861 6.6733 31.7448 7.05317 31.8845C7.43304 32.0242 7.8479 32.0374 8.23586 31.922L25.1706 26.9128C25.4256 26.8383 25.6616 26.7098 25.8627 26.5362C26.0638 26.3626 26.2252 26.1478 26.3362 25.9064C26.4455 25.6663 26.5013 25.4052 26.4995 25.1414C26.4976 24.8775 26.4384 24.6172 26.3257 24.3786L26.3249 24.3794ZM23.861 25.3817L9.49096 29.631C9.05258 29.7614 8.6318 29.3814 8.72299 28.939L13.8571 4.35612C13.953 3.89621 14.5882 3.82334 14.789 4.24899L24.293 24.4314C24.335 24.5213 24.357 24.6193 24.3575 24.7185C24.358 24.8178 24.337 24.916 24.2958 25.0063C24.2547 25.0966 24.1945 25.177 24.1193 25.2418C24.0441 25.3066 23.9557 25.3543 23.8603 25.3816L23.861 25.3817Z" fill="black"/>
      </svg>
      <svg class="lg:w-10 lg:h-10" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
        <g clip-path="url(#clip0_50_37)">
          <path d="M24.5 0H7.5C3.35786 0 0 3.35786 0 7.5V24.5C0 28.6421 3.35786 32 7.5 32H24.5C28.6421 32 32 28.6421 32 24.5V7.5C32 3.35786 28.6421 0 24.5 0Z" fill="#242938"/>
          <mask id="mask0_50_37" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="4" y="4" width="24" height="24">
            <path d="M4.75 4.75H27.25V27.25H4.75V4.75Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_50_37)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.4751 22.2763C24.2514 22.2423 23.302 22.3676 22.5064 22.7024C22.2772 22.7944 21.9096 22.7944 21.8794 23.0828C22.0019 23.2038 22.0166 23.4018 22.124 23.5695C22.3074 23.8739 22.6291 24.2839 22.9196 24.4966L23.8989 25.1964C24.4956 25.561 25.1689 25.7741 25.7502 26.1391C26.087 26.3521 26.4235 26.6259 26.7602 26.8543C26.9317 26.9759 27.0356 27.174 27.25 27.2496V27.2036C27.143 27.0673 27.1121 26.8696 27.0055 26.7169L26.5459 26.2761C26.1025 25.6831 25.5512 25.1656 24.9545 24.7403C24.4647 24.4056 23.394 23.9495 23.195 23.3871L23.1649 23.353C23.501 23.319 23.8989 23.2006 24.2205 23.1094C24.7411 22.973 25.2151 23.003 25.7502 22.8663L26.4852 22.6533V22.5169C26.2097 22.2433 26.0109 21.8781 25.7204 21.6199C24.9401 20.9508 24.0826 20.2966 23.195 19.7493C22.7207 19.4453 22.1085 19.2471 21.6036 18.9891C21.4195 18.8978 21.1139 18.8521 21.0069 18.7001C20.7307 18.3661 20.5781 17.9246 20.3792 17.529L19.1246 14.883C18.8492 14.2899 18.6805 13.6968 18.3444 13.1494C16.768 10.564 15.0539 8.99789 12.4219 7.46164C11.856 7.14227 11.1828 7.00489 10.4669 6.83789L9.31938 6.77664C9.07413 6.67027 8.8295 6.38114 8.61525 6.24414C7.743 5.69664 5.4935 4.51064 4.85025 6.07377C4.43712 7.06214 5.46262 8.03527 5.81075 8.53739C6.07137 8.88714 6.4075 9.28239 6.59163 9.67789C6.6945 9.93627 6.72887 10.2103 6.83625 10.484C7.08075 11.153 7.3105 11.8985 7.63187 12.5223C7.80337 12.8416 7.9835 13.1766 8.19775 13.4654C8.32025 13.6358 8.53462 13.7088 8.58025 13.9824C8.36587 14.2868 8.35113 14.7425 8.22863 15.1233C7.6775 16.8418 7.89187 18.9708 8.67212 20.236C8.91737 20.616 9.49525 21.4528 10.2794 21.1331C10.968 20.8594 10.8144 19.9926 11.0133 19.2321C11.0595 19.0499 11.0287 18.9281 11.1202 18.8061V18.8403L11.7479 20.1024C12.2223 20.8475 13.0489 21.6233 13.7371 22.1406C14.1041 22.4144 14.395 22.8861 14.8539 23.0531V23.0071H14.8237C14.7317 22.8708 14.5939 22.8094 14.4715 22.703C14.1961 22.4294 13.8901 22.0946 13.6757 21.7906C13.0334 20.9391 12.4675 19.996 11.9622 19.0229C11.7171 18.5515 11.5027 18.0344 11.3045 17.563C11.2119 17.3804 11.2119 17.1063 11.0592 17.0156C10.8294 17.3496 10.4934 17.6394 10.3243 18.0498C10.0334 18.7035 10.0032 19.5096 9.89625 20.3461C9.8345 20.3614 9.86188 20.3461 9.8345 20.3801C9.34538 20.2589 9.17662 19.7564 8.99325 19.331C8.53425 18.2513 8.45738 16.5176 8.85525 15.2705C8.96225 14.9511 9.42187 13.9474 9.23837 13.6433C9.14587 13.3543 8.8405 13.1873 8.67175 12.9589C8.47287 12.6699 8.25925 12.3051 8.12137 11.9858C7.75437 11.1336 7.57087 10.1911 7.17262 9.33952C6.9885 8.94402 6.6675 8.53327 6.40712 8.16864C6.11625 7.75789 5.79562 7.46877 5.56587 6.98239C5.48937 6.81202 5.38237 6.54139 5.50475 6.35864C5.535 6.23702 5.59662 6.18827 5.7185 6.16102C5.91725 5.99052 6.484 6.20664 6.68288 6.29727C7.24875 6.52564 7.72312 6.73839 8.1975 7.05739C8.41187 7.20939 8.64162 7.49852 8.917 7.57489H9.23875C9.7285 7.68114 10.279 7.60889 10.7375 7.74527C11.5488 8.00427 12.283 8.38402 12.9415 8.79502C14.9459 10.0573 16.599 11.8518 17.7156 13.9964C17.8991 14.3461 17.9756 14.6655 18.1444 15.0305C18.4661 15.776 18.864 16.5361 19.1846 17.2665C19.5064 17.9813 19.8122 18.7118 20.2712 19.3048C20.501 19.6241 21.4188 19.7911 21.8318 19.9585C22.138 20.0949 22.612 20.2176 22.8881 20.3846C23.408 20.704 23.9284 21.069 24.4177 21.4188C24.6622 21.6008 25.4279 21.9811 25.4734 22.2845L25.4751 22.2763ZM9.86975 9.06089C9.65839 9.05903 9.44767 9.08458 9.24288 9.13689V9.17102H9.273C9.3955 9.41439 9.60987 9.58177 9.76275 9.79477L10.115 10.5248L10.1453 10.4908C10.3595 10.3388 10.4669 10.0954 10.4669 9.73077C10.375 9.62439 10.3599 9.51764 10.2834 9.41127C10.1915 9.25927 9.99263 9.18289 9.86975 9.06164V9.06089Z" fill="white"/>
          </g>
        </g>
        <defs>
          <clipPath id="clip0_50_37">
            <rect width="32" height="32" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>