<div class="my-6">
    <p class="text-lg mt-10 text-slate-900 md:mt-28 md:text-xl">Loosely designed in <span class="text-lg font-medium text-slate-800">Figma</span>  and coded in <span class="text-lg font-medium text-slate-800">Visual Studio</span> Code by yours truly. Built with <span class="text-lg font-medium text-slate-800">Astro.js</span> and <span class="text-lg font-medium text-slate-800">Tailwind CSS</span>, deployed with <span class="text-lg font-medium text-slate-800">Vercel</span>. All text is set in the <span class="text-lg font-medium text-slate-800">Inter</span> typeface.</p>
    <p class="mt-4 pt-2 text-lg border-t-2">&copy; copyright 2023</p>
</div>