---
import Span from "../../component/span.astro";
---
<div class="mb-6 mt-20">
    <p class="text-lg mt-10 text-slate-900 md:mt-28 lg:text-base">Loosely designed in <Span text="figma"/>  and coded in <Span text="Visual Studio Code"/>Code by yours truly. Built with <Span text="Astro.JS"/> and <Span text="TailwindCss"/>, deployed with <Span text="Vercel"/>. All text is set in the <Span text="Poppins"/> typeface.</p>
    <p class="mt-4 pt-2 border-t-2">&copy; copyright 2023</p>
</div>