---
const {idAbout} = Astro.props
---
<div class="mt-20 lg:mt-2" id={idAbout}>
    <h1 class="font-bold text-xl lg:text-xl flex xl:hidden">About</h1>
    <p class="mt-12">Hello, I am M. Afif Zainur Ramzi, a student at K.H. University. Bahaudin Mudhary Madura, majoring in Information Systems. I'm glad you visited my page. During my college studies, I understood the basics of web programming, such as HTML, CSS, and JavaScript. I try to keep up with technological developments and want to continue improving my skills in web application development.</p>
</div>