<div class="mt-20">
    <h1 class="font-black text-xl">About</h1>
    <p class="text-lg mt-2 md:text-xl">Hello, my name is m. afif zainur ramzi, and I'm so glad you visited my page. I am a passionate, aspiring web developer, and always try to learn new things in the world of technology.</p>
    <p class="text-lg mt-2 md:text-xl"> I am a student at K.H Bahaudin mudhary madura University and currently majoring in Information system. Throughout college, I have gained a solid understanding of the basics of web programming, including HTML, CSS, and JavaScript. I am also active in various college projects involving web application development.</p>
</div>