<div class="mt-20 lg:mt-80" id="about">
    <h1 class="font-black text-xl lg:text-4xl">About</h1>
    <p class="text-lg mt-2 md:text-xl lg:text-2xl">Hello, my name is m. afif zainur ramzi, and I'm so glad you visited my page. I am a passionate, aspiring web developer, and always try to learn new things in the world of technology.</p>
    <p class="text-lg mt-2 md:text-xl lg:text-2xl"> I am a student at K.H Bahaudin mudhary madura University and currently majoring in Information system. Throughout college, I have gained a solid understanding of the basics of web programming, including HTML, CSS, and JavaScript. I am also active in various college projects involving web application development.</p>
</div>