---
import SkillTools from "../../../component/skillTools.astro";
---
<div class="hidden gap-2 mt-4 lg:w-2/3" data-content id="database">
    <p class="text-base">Its relational structure and SQL language allowed me to efficiently store and retrieve data.</p>
    <div class="flex flex-col gap-y-4">
        <SkillTools title="Mysql"  content="MySQL has been my go-to database management system, and learning it was fundamental in understanding the backend of web applications. Its relational structure and SQL language allowed me to efficiently store and retrieve data. MySQL's robust features and reliability make it an essential tool for web development."/>
    </div>
</div>