---
import ContentWriting from "./component/contentWriting.astro"
---
<div class="mt-20 lg:mt-10" id="writing">
    <h1 class="font-bold text-xl">Writing</h1>
    <p class="lg:mt-2">I try to write about what I have learned and I feel it needs to be published</p>
    <ContentWriting date="sumenep, 19 sep 2023" title="Membuat Animasi SVG dengan Framer Motion" content="Apa itu SVG? SVG (Scalable Vector Graphics) adalah format grafis vektor yang dapat digunakan untuk membuat gambar dan animasi dengan resolusi tinggi." view="123" urlLink="https://medium.com/@fijay0117/membuat-animasi-svg-dengan-framer-motion-2ca639ac6019"/>
</div>