---
import IconContact from "./IconContact.astro"
---
<div class="mt-20" id="contact">
          <h1 class="font-extrabold text-xl">Contact</h1>
    <div class="flex-col">
        <p class=" text-lg mt-2">Just a friendly reminder that the information provided here is for business purposes only. If you have any questions, feel free to chat with me directly on my social media.</p>
        <div class="flex flex-row mt-4 text-lg gap-6 text-slate-950 opacity-60">
          <div class="flex flex-col">
            <p>Address</p>
            <p>E-mail</p>
          </div>
          <div class="flex flex-col">
            <p>Sumenep, East Java</p>
            <p class="hover:text-blue-700 hover:opacity-100">zainur.romzy@gmail.com</p>
          </div>
        </div>
    </div>
    <div class="mt-4">
      <p class="text-lg">If you want to find me on social media, just search for @Romzyyy, That's my username on almost all platforms.</p>
    </div>
    <IconContact/>
    
</div>