<div class=" gap-2 mt-4 hidden" data-content id="framework">
    <p>I quickly realized its value in creating consistent and visually appealing user interfaces.</p>
    <div class="flex flex-col gap-y-4">
        <div class="mt-2">
            <h1 class="font-bold text-lg">Bootstrap</h1>
            <p>Bootstrap was my introduction to the world of front-end development. Its pre-designed components and responsive grid system provided me with a solid foundation for building user-friendly websites and web applications. Bootstrap's extensive documentation and active community made the learning process enjoyable, and I quickly realized its value in creating consistent and visually appealing user interfaces.</p>
        </div>
        <div>
            <h1 class="font-bold text-lg">Tailwindcss</h1>
            <p>Learning Tailwind CSS has been a game-changer in my web development journey. It streamlines the process of creating stylish and responsive user interfaces. When I first started exploring Tailwind CSS, I was amazed by its utility-first approach. Instead of writing custom CSS for every element, I could simply apply predefined classes to achieve the desired design. This made my code cleaner and development more efficient, allowing me to focus on functionality while maintaining a sleek and modern design.</p>
        </div>
        <div>
            <h1 class="font-bold text-lg">Nexjs</h1>
            <p>Next.js has revolutionized the way I approach server-side rendering and building modern web applications. Its ease of use and seamless integration with React make it a powerful framework. Learning Next.js allowed me to build fast and SEO-friendly web apps, and its routing system simplified navigation and ensured a smooth user experience. </p>
        </div>
        <div>
            <h1 class="font-bold text-lg">Astrojs</h1>
            <p>AstroJS was like discovering a new paradigm in web development. Its static site generation combined with a dynamic rendering approach offers incredible performance benefits. Learning AstroJS taught me how to create lightning-fast websites while keeping the development process straightforward and enjoyable.</p>
        </div>

    </div>
</div>