<div class="gap-2 mt-4 lg:w-2/3" data-content id="language">
    <p class="text-base">When I first decided to learn programming, I felt a mixture of enthusiasm and confusion.</p>
    <div class="flex flex-col gap-y-4">
        <div class="mt-2 lg:">
            <h1 class="font-bold text-lg">HTML</h1>
            <p class="text-base">When I first entered the world of programming, one of the first steps I took was to learn the HTML markup language. The memory is still as fresh as yesterday when I sat in front of a computer screen with a blank document and very unfamiliar HTML tags.</p>
        </div>
        <div>
            <h1 class="font-bold text-lg">CSS</h1>
            <p class="text-base">Learning CSS for the first time was a bit like stepping into a world of design and aesthetics within the realm of coding. I remember the moment I decided to delve into Cascading Style Sheets (CSS) as a beginner. As I opened my text editor alongside my HTML document, I felt a mix of excitement and trepidation.</p>
        </div>
        <div>
            <h1 class="font-bold text-lg">Javascript</h1>
            <p class="text-base">Learning JavaScript was a pivotal moment in my coding journey. It felt like unlocking a new level of interactivity and dynamism in web development. I still remember the excitement and challenge I felt when I wrote my first lines of JavaScript code. </p>
        </div>

    </div>
</div>