---
---
<div class="mt-4 flex overflow-x-scroll scrollbar-hide items-center">
    <div>
        <button class="text-xl p-2 transition hover:bg-gray-400 focus:bg-slate-800 active" data-target="#language">Language</button>
    </div>
    <div>
        <button class="text-xl p-2 transition hover:bg-gray-400 focus:bg-slate-800" data-target="#framework">Framework</button>
    </div>
    <div >
        <button class="text-xl p-2 transition hover:bg-gray-400 focus:bg-slate-800" data-target="#database">Database</button>
    </div>
    <div >
        <button class="text-xl p-2 transition hover:bg-gray-400 focus:bg-slate-800" data-target="#tools">Tools</button>
    </div>
</div>
