---
---
<div class="mt-4 flex overflow-x-scroll scrollbar-hide items-center">
    <div>
        <button class="active p-2 transition" data-target="#language">Language</button>
    </div>
    <div>
        <button class="p-2 transition" data-target="#framework">Framework</button>
    </div>
    <div >
        <button class="p-2 transition" data-target="#database">Database</button>
    </div>
    <div >
        <button class="p-2 transition" data-target="#tools">Tools</button>
    </div>
</div>

<style>
    div button.active {
        font-weight: 600;
        border-bottom: 3px solid gray;
    }
</style>