<div class="mt-4 mb-20">
    <p class="font-extrabold text-xl">Skill & tools</p>
    <div class="flex-col">
        <p class=" text-lg mt-2">I continue to develop my skills and knowledge in the world of web development. I believe that web technologies have great potential to change the way we interact with the world, and I am committed to contributing to creating innovative and beneficial solutions for society.</p>
    </div>
    <div class="mt-1">
        <div class="mt-4">
            <h1 class=" font-extrabold text-xl">Programing Language</h1>
            <div class="flex gap-2 mt-2">
                <div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">html</div>
                <div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">css</div>
                <div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">javascript</div>
            </div>
        </div>
        <div class="mt-4">
            <h1 class=" font-extrabold text-xl">Framework </h1>
            <div class="flex flex-wrap gap-2 mt-2">
                <div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">bootstrap</div>
                <div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">Tailwindcss</div>
                <div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">daisy ui</div>
                <div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">nexjs</div>
                <div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">astrojs</div>
            </div>
        </div>
        <div class="mt-4">
            <h1 class=" font-extrabold text-xl">Database </h1>
            <div class="flex gap-2 mt-2">
                <div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">Mysql</div>
            </div>
        </div>
        <div class="mt-4">
            <h1 class=" font-extrabold text-xl">Software</h1>
            <div class="flex gap-2 mt-2">
                <div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">Linux</div>
                <div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">VS Code</div>
                <div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">figma</div>
                <div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">lunacy</div>
            </div>
        </div>
    </div>
</div>