---
import Navigation from "./NavigationSkillTools.astro"
import Language from "./Language.astro";
import Framwork from "./Framework.astro"
import Database from "./Database.astro"
import Tools from "./Tools.astro"
---
<div class="mt-20 lg:mt-10" id="skill">
    <h1 class="font-bold text-xl">Skill & tools</h1>
    <div class="flex-col">
        <p class=" text-base mt-2">I continue to develop my skills and knowledge in the world of web development. </p>
    </div>
    <Navigation/>
    <Language/>
    <Framwork/>
    <Database/>
    <Tools/>
</div>