---
import Label from "../../component/label.astro";
---
<div class="mt-20" id="portfolio">
    <h1 class="font-extrabold text-xl lg:text-4xl">Portfolio</h1>
    <p class="text-lg mt-2 md:text-xl lg:text-2xl">I have been involved in a variety of projects, including those ranging from simple prototype level to complex applications, and contributed to developing various features and capabilities within them.</p>
    <div class="mt-4">
        <div class="flex mb-2 gap-2 justify-items-center">
            <p class="text-xl font-bold lg:text-3xl">Formasi web</p>
            <svg class="mt-[6px] lg:w-6 lg:h-6" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M15 10.8333V15.8333C15 16.2754 14.8244 16.6993 14.5118 17.0118C14.1993 17.3244 13.7754 17.5 13.3333 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V6.66667C2.5 6.22464 2.67559 5.80072 2.98816 5.48816C3.30072 5.17559 3.72464 5 4.16667 5H9.16667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.5 2.5H17.5V7.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.33333 11.6667L17.5 2.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
        </div>
        <div class="flex overflow-x-scroll w-full h-40 lg:h-[350px] xl:h-[580px] gap-2 lg:gap-6 items-center scrollbar-hide">
                <img class="w-5/6 h-full rounded-md" src="/image/image1.png" alt="image">
                <img class="w-5/6 h-full rounded-md" src="/image/image2.png" alt="image">
                <img class="w-5/6 h-full rounded-md" src="/image/image4.png" alt="image">
                <img class="w-5/6 h-full rounded-md" src="/image/image5.png" alt="image"> 
        </div>
            <p class="mt-2 text-lg md:text-xl lg:text-2xl lg:mt-4">Developed and styled interactive web apps for information sytem collage, An interactive web application developed for information systems students, the UI is simple and the single page application is user friendly.</p>
        <div class="flex gap-2 mt-2">
            <Label content="NextJs"/>
            <Label content="TailwindCss"/>
            <Label content="DaisyUi"/>
        </div>
    </div>
</div>