---
import Formasi from "./component/formasi.astro"
import Library from "./component/library.astro"
import Porto from "./component/porto.astro";

---
<div class="mt-20 lg:mt-20" id="portfolio">
    <h1 class="font-bold text-xl">Portfolio</h1>
    <p class="text-base mt-2">I have been involved in a variety of projects, from simple prototype level to complex applications, and contributed to the development of various features and capabilities within them.</p>
    <Formasi/>
    <Library/>
    <Porto/>
</div>