---
import Formasi from "./component/formasi.astro"
import Library from "./component/library.astro"
import Porto from "./component/porto.astro";

---
<div class="mt-20 lg:mt-20" id="portfolio">
    <h1 class="font-bold text-xl">Portfolio</h1>
    <p class="text-base mt-2">Saya telah terlibat dalam berbagai proyek, mulai dari tingkat prototipe sederhana hingga aplikasi kompleks, dan berkontribusi dalam pengembangan berbagai fitur dan kemampuan di dalamnya.</p>
    <Formasi/>
    <Library/>
    <Porto/>
</div>