---
import Navbar from "../app/Navbar/Navbar.astro"
import Header from "../app/Header/HeaderSection.astro"
import About from "../app/About/AboutSection.astro"
import Portfolio from "../app/Portfolio/PortfolioSection.astro";
import Contact from "../app/Contact/ContactSection.astro"
import Skill from "../app/SkillTools/SkillToolsSection.astro"
import Footer from "../app/Footer/FooterSection.astro"
import Writing from "../app/writing/Writing.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
	</head>
	<body>
		<div class="px-8 lg:px-80">
			<img class="absolute -z-50 top-0 right-0" src="baground.png" alt="">
			<Navbar/>
			<Header/>
			<About/>
			<Portfolio/>
			<Skill/>
			<Writing/>
			<Contact/>
			<Footer/>
		</div>
		<script>
			import "../js/SkillAndTools.js";
			import  "../js/Navbar.js";
		</script>
	</body>
</html>
