---
import Navbar from "../app/Navbar/Navbar.astro"
import Header from "../app/Header/HeaderSection.astro"
import About from "../app/About/AboutSection.astro"
import Portfolio from "../app/Portfolio/PortfolioSection.astro";
import Contact from "../app/Contact/ContactSection.astro"
import Skill from "../app/SkillTools/SkillToolsSection.astro"
import Footer from "../app/Footer/FooterSection.astro"
import Writing from "../app/writing/Writing.astro"
import Layout from "../layout/layout.astro";

---
<Layout>
	<div class="lg:flex lg:flex-row">
		<div class="lg:basis-1/2">
			<Header/>
		</div>
		<div class="lg:basis-1/2">
			<Navbar/>
			<div class="xl:hidden">
				<About idAbout="about"/>
			</div>
			<Portfolio/>
			<Skill/>
			<Writing/>
			<Contact/>
		</div>
		<div class="lg:fixed lg:bottom-0 lg:w-4/12">
			<Footer/>
		</div>
	</div>
		
</Layout>

