---
// import SlideShowImage from '../component/SlideShowImage.jsx'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="container  px-8">
			<div class="w-full">
				<p class="font-bold mt-32 text-2xl">Hi,</p>
				<h1 class="font-black text-6xl">WELCOME TO MY PORTFOLIO WEBSITE</h1>
				<p class="text-lg mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi rerum exercitationem, hic fugit consequatur illo beatae. Blanditiis tempore error veniam!</p>
				<div class="mt-36 flex gap-4 ">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
						<path d="M22 3.99999C22 3.99999 21.3 6.09999 20 7.39999C21.6 17.4 10.6 24.7 2 19C4.2 19.1 6.4 18.4 8 17C3 15.5 0.5 9.59999 3 4.99999C5.2 7.59999 8.6 9.09999 12 8.99999C11.1 4.79999 16 2.39999 19 5.19999C20.1 5.19999 22 3.99999 22 3.99999Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					  </svg>
					  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
						<path d="M18 2H15C13.6739 2 12.4021 2.52678 11.4645 3.46447C10.5268 4.40215 10 5.67392 10 7V10H7V14H10V22H14V14H17L18 10H14V7C14 6.73478 14.1054 6.48043 14.2929 6.29289C14.4804 6.10536 14.7348 6 15 6H18V2Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					  </svg>
					  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
						<path d="M15 22V18C15.1391 16.7473 14.7799 15.4901 14 14.5C17 14.5 20 12.5 20 9C20.08 7.75 19.73 6.52 19 5.5C19.28 4.35 19.28 3.15 19 2C19 2 18 2 16 3.5C13.36 3 10.64 3 8 3.5C6 2 5 2 5 2C4.7 3.15 4.7 4.35 5 5.5C4.27187 6.51588 3.91847 7.75279 4 9C4 12.5 7 14.5 10 14.5C9.61 14.99 9.32 15.55 9.15 16.15C8.98 16.75 8.93 17.38 9 18V22" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M9 18C4.49 20 4 16 2 16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					  </svg>
					  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
						<path d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M6 9H2V21H6V9Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					  </svg>
				</div>
			</div>
			<div class="mt-24">
				<div class="flex">
					<svg class="mt-1" xmlns="http://www.w3.org/2000/svg" width="38" height="24" viewBox="0 0 38 24" fill="none">
						<path d="M7.91667 12H30.0833" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
					  </svg>
					  <p class="font-bold text-3xl">About Me</p>
				</div>
				<p class="text-lg mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nobis soluta ducimus maiores rem minima, ab esse? Beatae harum ab iure tempore ad fuga accusamus! Dolor dignissimos quasi repudiandae atque quod laudantium modi dolorem est quos architecto obcaecati quibusdam natus distinctio culpa nobis soluta magni, ut quisquam aspernatur repellat praesentium.</p>
				<p class="text-lg mt-4">Here are a few technologies I’ve been working with recently:</p>
				<div class="grid grid-rows-3 grid-flow-col gap-2 mt-4">
					<div class="flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						  </svg>
						  <p class="font-bold">HTML</p>
					</div>
					<div class="flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						  </svg>
						  <p class="font-bold">CSS</p>
					</div>
					<div class="flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						  </svg>
						  <p class="font-bold">javascript</p>
					</div>
					<div class="flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						  </svg>
						  <p class="font-bold">Bootstrap</p>
					</div>
					<div class="flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						  </svg>
						  <p class="font-bold">Tailwindcss</p>
					</div>
					<div class="flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						  </svg>
						  <p class="font-bold">NextJs</p>
					</div>
					<div class="flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						  </svg>
						  <p class="font-bold">daisy Ui</p>
					</div>
					<div class="flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						  </svg>
						  <p class="font-bold">AstroJs</p>
					</div>
				</div>
			</div>
			<div class="my-20">
				<div class="flex ">
					<svg class="mt-1" xmlns="http://www.w3.org/2000/svg" width="38" height="24" viewBox="0 0 38 24" fill="none">
						<path d="M7.91667 12H30.0833" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
					  </svg>
					  <p class="font-bold text-3xl">Portfolio</p>
				</div>
				<p class="text-lg mt-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo accusantium quibusdam debitis non sint magnam aliquid minus omnis cumque dignissimos, est, nam veritatis voluptatum optio voluptates praesentium eum perspiciatis! Velit.</p>
				<div class="mt-10">
					<div class="flex mb-2 gap-2 justify-items-center">
						<p class="text-2xl font-bold">Formasi web</p>
						<svg class="mt-[6px]" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
							<path d="M15 10.8333V15.8333C15 16.2754 14.8244 16.6993 14.5118 17.0118C14.1993 17.3244 13.7754 17.5 13.3333 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V6.66667C2.5 6.22464 2.67559 5.80072 2.98816 5.48816C3.30072 5.17559 3.72464 5 4.16667 5H9.16667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M12.5 2.5H17.5V7.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M8.33333 11.6667L17.5 2.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						  </svg>
					</div>
					<img src="/image1.png" alt="image">
					<p class="text-slate-600 mt-4">github.com/romzy/formasi</p>
					<p class="mt-2 text-lg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam sunt illum accusantium cum sint, a temporibus debitis odit dignissimos.</p>
					<div class="flex gap-2 mt-2">
						<div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">Nexjs13</div>
						<div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">Tailwindcss</div>
						<div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">daisy ui</div>

					</div>
				</div>
				<div class="mt-10">
					<div class="flex mb-2 gap-2 justify-items-center">
						<p class="text-2xl font-bold">Profile Card</p>
						<svg class="mt-[6px]" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
							<path d="M15 10.8333V15.8333C15 16.2754 14.8244 16.6993 14.5118 17.0118C14.1993 17.3244 13.7754 17.5 13.3333 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V6.66667C2.5 6.22464 2.67559 5.80072 2.98816 5.48816C3.30072 5.17559 3.72464 5 4.16667 5H9.16667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M12.5 2.5H17.5V7.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M8.33333 11.6667L17.5 2.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						  </svg>
					</div>
					<img src="/image2.png" alt="image">
					<p class="text-slate-600 mt-4">github.com/romzy/profile</p>
					<p class="mt-2 text-lg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam sunt illum accusantium cum sint, a temporibus debitis odit dignissimos.</p>
					<div class="flex gap-2 mt-2">
						<div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">Astrojs</div>
						<div class="py-1 px-3 bg-slate-950 text-slate-50 text-sm rounded-2xl">Tailwindcss</div>
					</div>
				</div>
			</div>
			<div class="my-4">
				<div class="flex ">
					<svg class="mt-1" xmlns="http://www.w3.org/2000/svg" width="38" height="24" viewBox="0 0 38 24" fill="none">
						<path d="M7.91667 12H30.0833" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
					  </svg>
					  <p class="font-bold text-3xl">Get in Touch</p>
				</div>
				<div class="flex mt-10 ">
					<h1 class="font-black basis-1/2 text-2xl leading-10 mt-6">let's code together while enjoying a cup of coffee.</h1>
					<div class="basis-1/2">
						<img src="/profilelogo.png" alt="">
					</div>
				</div>
				<div class="mt-20 flex justify-center gap-4 ">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
						<path d="M22 3.99999C22 3.99999 21.3 6.09999 20 7.39999C21.6 17.4 10.6 24.7 2 19C4.2 19.1 6.4 18.4 8 17C3 15.5 0.5 9.59999 3 4.99999C5.2 7.59999 8.6 9.09999 12 8.99999C11.1 4.79999 16 2.39999 19 5.19999C20.1 5.19999 22 3.99999 22 3.99999Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					  </svg>
					  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
						<path d="M18 2H15C13.6739 2 12.4021 2.52678 11.4645 3.46447C10.5268 4.40215 10 5.67392 10 7V10H7V14H10V22H14V14H17L18 10H14V7C14 6.73478 14.1054 6.48043 14.2929 6.29289C14.4804 6.10536 14.7348 6 15 6H18V2Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					  </svg>
					  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
						<path d="M15 22V18C15.1391 16.7473 14.7799 15.4901 14 14.5C17 14.5 20 12.5 20 9C20.08 7.75 19.73 6.52 19 5.5C19.28 4.35 19.28 3.15 19 2C19 2 18 2 16 3.5C13.36 3 10.64 3 8 3.5C6 2 5 2 5 2C4.7 3.15 4.7 4.35 5 5.5C4.27187 6.51588 3.91847 7.75279 4 9C4 12.5 7 14.5 10 14.5C9.61 14.99 9.32 15.55 9.15 16.15C8.98 16.75 8.93 17.38 9 18V22" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M9 18C4.49 20 4 16 2 16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					  </svg>
					  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
						<path d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M6 9H2V21H6V9Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					  </svg>
				</div>
				<p class="text-lg mt-10">Made with Astro and designed happily using Figma by Romzy</p>
			</div>
		</div>
	</body>
</html>
