---
import Navbar from "../app/Navbar/Navbar.astro"
import Header from "../app/Header/HeaderSection.astro"
import About from "../app/About/AboutSection.astro"
import Portfolio from "../app/Portfolio/PortfolioSection.astro";
import Contact from "../app/Contact/ContactSection.astro"
import Skill from "../app/SkillTools/SkillToolsSection.astro"
import Footer from "../app/Footer/FooterSection.astro"
import Writing from "../app/writing/Writing.astro"
---
<div class="mx-auto px-8 lg:px-20 xl:px-80">
	<img class="absolute -z-50 top-0 right-0 lg:w-[500px] lg:h-[500px]" src="baground.png" alt="bacground">
	<Navbar/>
	<Header/>
	<About/>
	<Portfolio/>
	<Skill/>
	<Writing/>
	<Contact/>
	<Footer/>
	<script>
		import "../js/SkillAndTools.js";
		import  "../js/Navbar.js";
	</script>
</div>


