---
import Label from "../../../component/label.astro";
import Image from "../../../component/image.astro";
import HeaderPortfolio from "../../../component/headerPortfolio.astro";
---
<div class="mt-8">
    <div class="flex mb-2 gap-2 justify-items-center">
    <HeaderPortfolio projectName="Formasi web" urlLink="https://formasi.vercel.app/">
    </div>
    <div class="flex overflow-x-scroll w-full h-auto gap-2 lg:gap-6 items-center scrollbar-hide">
            <Image imageName="/image/image1.avif"/>
            <Image imageName="/image/image2.avif"/>
            <Image imageName="/image/image4.avif"/>
            <Image imageName="/image/image5.avif"/>
    </div>
        <p class="mt-2 text-base">Membuat aplikasi web interaktif yang dirancang dan disusun untuk mendukung dan dikembangkan khusus untuk mahasiswa sistem informasi, dengan antarmuka pengguna (UI) yang sederhana dan ramah pengguna, serta disajikan dalam format aplikasi satu halaman.</p>
    <div class="flex gap-2 mt-2">
        <Label content="NextJs" color="text-gray-600" bgColor="bg-gray-600"/>
        <Label content="TailwindCss" color="text-sky-600" bgColor="bg-sky-600"/>
        <Label content="DaisyUi" color="text-green-600" bgColor="bg-green-600"/>
    </div>
</div>