---
import Label from "../../../component/label.astro";
import Image from "../../../component/image.astro";
import HeaderPortfolio from "../../../component/headerPortfolio.astro";
---
<div class="mt-8">
    <div class="flex mb-2 gap-2 justify-items-center">
        <HeaderPortfolio projectName="Library mini" urlLink="https://connectable-clangs.000webhostapp.com/index.php">
    </div>
    <div class="flex overflow-x-scroll w-full h-auto gap-2 lg:gap-6 items-center scrollbar-hide">
            <Image imageName="/image/image6.avif"/>
            <Image imageName="/image/image7.avif"/>
            <Image imageName="/image/image8.avif"/>
            <Image imageName="/image/image9.avif"/>
    </div>
        <p class="mt-2 text-base">Saya menciptakan web perpustakaan sederhana menggunakan HTML dan CSS. Fokus proyek ini adalah memenuhi persyaratan tugas praktikum dengan desain yang sederhana dan informatif. Saya merancang antarmuka pengguna untuk memudahkan akses informasi buku. Proyek ini membantu saya mengasah keterampilan pemrograman web, terutama dalam penerapan HTML dan CSS.</p>
    <div class="flex gap-2 mt-2">
        <Label content="php" color="text-indigo-600" bgColor="bg-indigo-600"/>
        <Label content="css" color="text-blue-600" bgColor="bg-blue-600"/>
        <Label content="mysql" color="text-cyan-600" bgColor="bg-cyan-600"/>
    </div>
</div>