<head>
      <!-- HTML Meta Tags -->
    <title>Portfolio</title>
   
  <!-- HTML Meta Tags -->
  <title>Portfolio</title>
  <meta name="description" content="Hello, my name is m. afif zainur ramzi, and I'm so glad you visited my page. I am a passionate, aspiring web developer, and always try to learn new things in the world of technology.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://bn616cbh-4321.asse.devtunnels.ms/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Portfolio">
  <meta property="og:description" content="Hello, my name is m. afif zainur ramzi, and I'm so glad you visited my page. I am a passionate, aspiring web developer, and always try to learn new things in the world of technology.">
  <meta property="og:image" content="public/profilelogo.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="bn616cbh-4321.asse.devtunnels.ms">
  <meta property="twitter:url" content="https://bn616cbh-4321.asse.devtunnels.ms/">
  <meta name="twitter:title" content="Portfolio">
  <meta name="twitter:description" content="Hello, my name is m. afif zainur ramzi, and I'm so glad you visited my page. I am a passionate, aspiring web developer, and always try to learn new things in the world of technology.">
  <meta name="twitter:image" content="public/profilelogo.png">
  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
  </head>
