---
import Head from "./head.astro";
import '@fontsource-variable/inter';
---
<html lang="en">
	<Head/>
	<body>
		<div class="mx-auto px-8 lg:px-20  xl:px-40">
            <img class="absolute -z-50 top-0 right-0 lg:w-[500px] opacity-50 lg:h-[500px] md:hidden" src="image/baground.avif" alt="bacground">
            <img class="absolute -z-50 top-0 w-full left-0 opacity-10 invisible md:visible md:fixed" src="image/bagroundLarge.avif" alt="bacground">
            <slot/>
        </div>
        <script>
            import "../js/SkillAndTools.js";
            import  "../js/Navbar.js";
        </script>
	</body>
</html>

<style>
    body {
  font-family: 'Inter Variable', sans-serif;
}
</style>